@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "dynapuff";
  src: url("../../assets/fonts/dynapuff.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(169,199,206);
  background: linear-gradient(180deg, rgba(169,199,206,1) 0%, rgba(165,211,197,1) 100%);
}

img {
  filter: brightness(0.8) contrast(1.4);
}
